<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container" th:object="${board}">
    <div>
        <label for="boardId" th:text="#{label.board.id}">boardId</label>
        <input type="text" id="boardId" name="boardId" class="form-control" th:field="*{boardId}" readonly>
    </div>
    <div class="row">
        <div class="col">
            <label for="title" th:text="#{label.board.title}">제목</label>
            <input type="text" id="title" name="title" class="form-control" th:field="*{title}" readonly>
        </div>
        <div class="col">
            <label for="writer" th:text="#{label.board.writer}">제목</label>
            <input type="text" id="writer" name="writer" class="form-control" th:field="*{writer}" readonly>
        </div>

    </div>
    <div>
        <label for="description" th:text="#{label.board.content}">내용</label>
        <input type="text" id="description" name="description" class="form-control" value="내용"
               th:field="*{content}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'" th:text="#{button.edit}"
                    th:onclick="|location.href='@{/board/{memberId}/{boardId}/edit(memberId=${board.memberId}, boardId=${board.boardId})}'|"
                    type="button">상품 수정
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'" th:text="#{button.list}"
                    th:onclick="|location.href='@{/board/{memberId}(memberId=${board.memberId})}'|"
                    type="button">목록으로
            </button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>