<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">
    <div>
        <label for="userId">작성자</label>
        <input type="text" id="userId" name="userId" class="form-control" value="10" th:value="${member.name}" readonly>
    </div>
    <div>
        <label for="title">제목</label>
        <input type="text" id="title" name="title" class="form-control" value="제목" th:value="${board.title}" readonly>
    </div>
    <div>
        <label for="description">내용</label>
        <input type="text" id="description" name="description" class="form-control" value="내용"
               th:value="${board.content}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/board/{memberId}/{boardId}/edit(memberId=${member.memberId}, boardId=${board.boardId})}'|"
                    type="button">상품 수정
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/board/{memberId}(memberId=${member.memberId})}'|"
                    type="button">목록으로
            </button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>